<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195988837558-has5mjnpi5bffovf9ehrsmoqoji3mvb3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195988837558-has5mjnpi5bffovf9ehrsmoqoji3mvb3</string>
	<key>API_KEY</key>
	<string>AIzaSyByjhfjINPdpfKzIj7JRJeXlU9DiInmI4s</string>
	<key>GCM_SENDER_ID</key>
	<string>195988837558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Dmitry-Bobrov.TodoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-21bc9</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-21bc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195988837558:ios:cbdec3ad1f5b90129f0217</string>
</dict>
</plist>